USE [master]
GO
/****** Object:  Database [BANCOS]    Script Date: 4/9/2024 13:44:27 ******/
CREATE DATABASE [BANCOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BANCOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BANCOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BANCOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BANCOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BANCOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BANCOS]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 4/9/2024 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[APELLIDO] [varchar](100) NULL,
	[DNI] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTAS]    Script Date: 4/9/2024 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CBU] [varchar](100) NULL,
	[SALDO] [decimal](10, 2) NULL,
	[TIPO_CUENTA_ID] [int] NULL,
	[ULTIMO_MOVIMIENTO] [datetime] NULL,
	[CLIENTE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_CUENTAS]    Script Date: 4/9/2024 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_CUENTAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUENTAS]  WITH CHECK ADD FOREIGN KEY([CLIENTE_ID])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[CUENTAS]  WITH CHECK ADD FOREIGN KEY([TIPO_CUENTA_ID])
REFERENCES [dbo].[TIPO_CUENTAS] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[CREATE_CLIENTE]    Script Date: 4/9/2024 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CREATE_CLIENTE]
@NOMBRE VARCHAR(100),
@APELLIDO VARCHAR(100),
@DNI VARCHAR(100),
@ID int output
AS
BEGIN
INSERT INTO CLIENTES (NOMBRE, APELLIDO, DNI) 
VALUES(@NOMBRE, @APELLIDO, @DNI)
set @ID = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[CREATE_CUENTA]    Script Date: 4/9/2024 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CREATE_CUENTA]
@CBU VARCHAR(100),
@SALDO DECIMAL(10,2),
@TIPO_CUENTA_ID INT,
@ULTIMO_MOVIMIENTO DATETIME,
@CLIENTE_ID INT
AS
BEGIN
INSERT INTO CUENTAS (CBU,SALDO,TIPO_CUENTA_ID,ULTIMO_MOVIMIENTO,CLIENTE_ID) 
VALUES(@CBU, @SALDO, @TIPO_CUENTA_ID, @ULTIMO_MOVIMIENTO, @CLIENTE_ID)
END
GO
/****** Object:  StoredProcedure [dbo].[DELETE_CLIENTE]    Script Date: 4/9/2024 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_CLIENTE]
@id int
AS
BEGIN
DELETE FROM Clientes
WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[DELETE_CUENTA]    Script Date: 4/9/2024 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_CUENTA]
@id int
AS
BEGIN
DELETE FROM Cuentas
WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_CLIENTE_ID]    Script Date: 4/9/2024 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OBTENER_CLIENTE_ID]
@id int
AS
BEGIN
SELECT ID, NOMBRE, APELLIDO, DNI FROM CLIENTES
WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_CLIENTES]    Script Date: 4/9/2024 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OBTENER_CLIENTES]
AS
BEGIN
SELECT ID, NOMBRE, APELLIDO, DNI FROM CLIENTES
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_CUENTAS]    Script Date: 4/9/2024 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[OBTENER_CUENTAS]
AS
BEGIN
SELECT CU.ID, CBU, SADO, TC.NOMBRE AS "NOMBRE DE CUENTA", ULTIMO_MOVIMIENTO, CLIENTE_ID  FROM CUENTAS CU
JOIN TIPO_CUENTAS TC ON CU.TIPO_CUENTA_ID = TC.ID
END
GO
/****** Object:  StoredProcedure [dbo].[OBTENER_TIPO_CUENTA]    Script Date: 4/9/2024 13:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[OBTENER_TIPO_CUENTA]
AS
BEGIN
SELECT * FROM TIPO_CUENTAS
END
GO
USE [master]
GO
